 ( ! ("act_10" ) U "act_9" ) | (G(!("act_10"))) & ! ("act_10" )
 G ( ( "act_14" -> X( "act_15" ) ) )
 G( ( X( "act_17" ) -> "act_16") )& ! ( "act_17" )
 (F("act_19")) -> (!(F("act_20")))
 G( ( "act_20" -> !( F( "act_21" ) ) ) )
 G( ( "act_22" -> X( !( "act_23" ) ) ) )
